<section>
	<div class="userInfo">
		<div class="image">
			<img id="image{{id}}" />
		</div>
		<div class="info">
			<div class="date">{{created_at_parsed}}</div>
			<div class="name">
				<strong>{{user.name}}</strong><br />
				<span>@{{user.screen_name}}</span>
			</div>
		</div>
	</div>

	<div class="tweetContent">
		<div class="tweetText">
			{{{text}}}
		</div>

		<div class="tweetImage">
			<img src="{{tweet_image_base64}}" />
		</div>
	</div>
</section>
